Hi,

<h4>Contacts Info(Contact Form)</h4>

{% if contact_data.name %}
  <h5>Name: {{ contact_data.name }}</h5>
{% endif %}
{% if contact_data.mobile %}
  <h5>Mobile: {{ contact_data.mobile }}</h5>
{% endif %}
{% if contact_data.email_address %}
  <h5>Email Address: {{ contact_data.email_address }}</h5>
{% endif %}
{% if contact_data.message %}
  <h5>Company Email: {{ contact_data.message }}</h5>
{% endif %}

<h5>
  Regards
</h5>