Hi,

<h4>Leads Info(Apply for growth capital)</h4>

{% if leads_data.first_name %}
  <h5>First Name: {{ leads_data.first_name }}</h5>
{% endif %}
{% if leads_data.last_name %}
  <h5>Last Name: {{ leads_data.last_name }}</h5>
{% endif %}
{% if leads_data.company_name %}
  <h5>Company Name: {{ leads_data.company_name }}</h5>
{% endif %}
{% if leads_data.company_email %}
  <h5>Company Email: {{ leads_data.company_email }}</h5>
{% endif %}
{% if leads_data.company_website %}
  <h5>Company Website: {{ leads_data.company_website }}</h5>
{% endif %}
{% if leads_data.phone_number %}
  <h5>Phone Number: {{ leads_data.phone_number }}</h5>
{% endif %}
{% if leads_data.annual_revenue %}
  <h5>Annual Revenue: {{ leads_data.get_annual_revenue_display }}</h5>
{% endif %}
{% if leads_data.description %}
  <h5>Description: {{ leads_data.description }}</h5>
{% endif %}
{% if leads_data.company_role %}
  <h5>Description: {{ leads_data.get_company_role_display }}</h5>
{% endif %}

<h5>
  Regards
</h5>